{% extends "account/email/base.html" %}

{% block header %}
    Password reset!
{% endblock %}

{% block body %}
    <tr>
        <td style=" font-size: 14px; line-height: 24px; color: #3e454c;">
            <p>You told us you forgot your password. If you really did, click here to choose new one:</p>
        </td>
    </tr>
    <br />
    <tr>
        <td >
            <div style="text-align: center">
                <a class="reset-pass-button" href="{{ password_reset_url }}">Choose a new password</a>
            </div>
        </td>
    </tr>
    <br />
    <tr>
        <td style=" font-size: 14px; line-height: 24px; color: #3e454c;">
            <p>If you didn't mean to reset your password, then you can just ignore this email your password will not change.</p>
        </td>
    </tr>
{% endblock %}
